@charset "UTF-8";

/* notice.jsp ui */
/* 서브 메인 이미지 */
#sub_img_center{
	width:971px; height:179px;
	background-image:url(../images/center/sub_back.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#notice{
	width:670px;
	border-collapse: collapse; /* 표테이블 테두리 선을 분리하지 않고(합쳐서)한줄로 그린다. */
}
#notice th{
	height:20px;
	text-transform: capitalize; /*영문 단어 첫글자만 대문자로*/
	font-seze:14px;
	font-weight: bold;
	padding:5px; /*상하좌우 안여백을 동시에 5픽셀로 지정*/
	background-image:url(../images/center/t_back.jpg);
	background-repeat: repeat-x; /* x축 수평으로 반복 */
	background-position: center center;
	color:#FFF;
}
#notice td{
	text-align: center;
	padding:6px 0px;
	border-bottom-width:1px; /*밑줄 선 두께*/
	border-bottom-style:dotted; /*밑줄 선 스타일을 점선*/
	border-bottom-color:#999; /*밑줄 선 색 지정*/
}
#notice td.left{
	text-align: left;
	padding-left:14px; /*왼쪽 안여백을 조금 줘서 약간의 들여쓰기 */
}
#notice .tno{
	width:50px;
	border-top-left-radius:5px; /*테두리를 좌상단을 둥글게 */
	border-bottom-left-radius: 5px; /*테두리 좌하단을 둥글게*/
}
#notice .ttitle{
	width:400px;
	letter-spacing: 0.7em; /*글자간 즉 자간 간격 조절 */
}
#notice .twrite{
	width:100px;
}
#notice .tdate{
	width:50px;
}
#notice .tread{
	width:50px;
	border-top-right-radius: 5px; /*우상단 테두리를 둥글게*/
	border-bottom-right-radius: 5px; /*우하단 테두리를 둥글게*/
}
#table_search{
	float:right;
	margin:15px 5px 10px 0;
}
#table_search .input_box{
	width:200px;
	height:20px;
	border:1px solid #333;
	border-radius:5px;
	background-color:#fefded;
}
#table_search .btn{
	width:90px;
	height:23px;
	margin:0px 0px 0px 5px;
	padding:2px;
	border:1px solid #999;
	color:#fff;
	border-radius:5px;
	background-image:url(../images/center/t_back.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
#page_control{
	text-align: center;
	margin-top:20px;
}
#page_control a{
	text-decoration: none;
	padding:2px 5px;
	color:#333;
	margin:0px 1px;
}
#page_control a:hover{
	text-decoration: underline;
	font-weight:bold;
	color:#F90;
}
#notice tr:hover{
	background-color:#00ff40;
	cursor:pointer;
	cursor: hand; /* 마우스 오버시 화살표 마우스 포인터를 손가락 모양으로 나오게 한다.
}

